
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins";
    width: 100%;
}

.logo{
    font-weight: normal;
    font-size: 2.5rem;
    animation: move  2s ease-in-out forwards; 
}


.header{
    display: flex;
    justify-content: space-around;
    height: 20vh;
    align-items: center;
}
.links{
    display: flex;
    gap: 1rem;
}
a{
    text-underline-offset: 7px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: .2s;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}
.about{
    height: 70vh;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 2.5rem;
}
.info-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    
}
.image-container{
    height: 400px;
    
}
img{
    height: 100%;
}
.name{
    font-size: 2.5rem;
}

p{
    color: rgb(85, 85, 85);
    text-align: center;
}
.intro{
    font-weight: 600;
    font-size: 1.5rem;
}
.job{
    font-weight: 800;
    color: rgb(85, 85, 85);
}

.download-cv, .contact-info{
    padding: 15px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;

}

.contact-info{
    background-color: rgb(85, 85, 85);
    overflow: hidden;
}

.download-cv{
    position: relative;
    overflow: hidden;
    transition: .2s;
}
.download-cv:hover{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
}
.about-me p{
    font-size: 1rem;
}
.about-me h1{
    font-size: 3rem;
}

.press{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}
.about-me-container{
    margin-top: 20px;
    height: 70vh;
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    
}
.experience{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
    width: 700px;
}
.education{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.icons{
    height: 30px;
}
.education div {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    align-items: center;
    border: 1.5px solid black;
    padding: 20px 30px;
    border-radius: 15px;
}
.explore{
    height: 80vh;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border: 1px solid black;
}
.explore h1{
    font-size: 3rem;
}
.stack{
    display: flex;
    gap: 2rem;
    
    justify-content: space-around;
    width: 70%;
    
}
.frontend, .backend{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid  black;
    padding: 20px 50px;
    border-radius: 20px;
}
.stacklist{
    display: flex;
    gap: 1rem;

}
.ability{
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.projects h1{
    font-size: 3rem;
}

.projects{
    height: 80vh;
    
}

.clicked{
    display: none;
}